$bodyBg: hsl(210, 50%, 98%);
$mainBg: hsl(0, 0%, 100%);

$mainColor: hsl(197, 87%, 50%);
$errColor: hsl(0, 77%, 57%);

$fontSizeNormal: 1rem;
$fontSizeMedium: 1.2rem;
$fontSizeLarge: 1.6rem;

$boxShadow: 0px 8px 24px rgba(110, 106, 108, 0.2);
$borderRadius: 5px;

$mobileWidth: 600px;
$tabletWidth: 900px;
