$purple: #8624db;
$orange: #ff9066;
$white: #ffffff;
$black: #000000;
$green: #4caf50;
$red: #db190c;
$bodyBg: #f6f9fc;
$mainBg: $white;
$mainColor: #3464c4;
$txtColor: #3e3c3f;

$fontFamily: "Roboto", sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$navbarHeight: 100px;
$navbarTabletHeight: 70px;
$navbarMobileHeight: 40px;
$navbarShrinkHeight: 70px;

$boxShadow: rgba(99, 106, 114, 0.2) 0px 8px 24px;

$mobileWidth: 600px;
$tabletWidth: 900px;
